<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/post.css">
</head>

<body>
    <%- include('static/header') %>

    <% if (message.length > 0) { %>
      <div class="alert alert-success">
        <button type="button" class="close" onclick="this.parentElement.style.display='none';">&times;</button>
        <%= message %>
      </div>
    <% } %>

    <section id="new-post-section">
        <% if (user) { %>
            <form id="new-post-form" action="/post" method="POST">
                <textarea name="content" placeholder="What's happening?" required></textarea>
                <input type="text" name="image_url" placeholder="Image URL (optional)">
                <button type="submit">Post</button>
            </form>
        <% } else { %>
            <h1 style="text-align: center;">Login/Register To Start Posting!</h1>
        <% } %>
    </section>

    <section id="posts-section">
        <% if(posts.length > 0){ %>
          <% posts.forEach(function(post) { %>
            <article class="post">
              <div class="post-header">
                <a href="/profile/<%= authorList[post.user_id] %>">@<%= authorList[post.user_id] %></a>
                <% if (user) { %>
                  <% if (user.userID == post.user_id || user.role === 'ADMIN' || user.role === 'OWNER') { %>
                    <form action="/delete" method="POST">
                      <button name="post_id" value="<%= post.id%>">X</button>
                    </form>
                  <% } %>
                <% } %>
              </div>
              <div class="post-content"><pre><%= post.content %></pre></div>
              <% if(post.image_url){ %>
                <div class="post-image">
                  <img src="<%= post.image_url %>" alt="Post Image">
                </div>
              <% } %>
              <div class="post-footer">
                <span>Posted on <%= post.created_at.toISOString().slice(0, 10) %></span>
                <div class="likeSection">
                  <% if (user) { %>
                    <% let likedByUser = false; %>
                    <% user_likes.forEach(function(like) { %>
                      <% if (post.id == like.post_id) { %>
                        <% likedByUser = true; %>
                        <form action="/like/<%= post.id %>" method="POST">
                          <span><%= post.likes %> Likes</span>
                          <button class="liked-button" type="submit">Like</button>
                        </form>
                      <% }; %>
                    <% }); %>
                    <% if (!likedByUser) { %>
                      <form action="/like/<%= post.id %>" method="POST">
                        <span><%= post.likes %> Likes</span>
                        <button class="like-button" type="submit">Like</button>
                      </form>
                    <% } %>
                  <% } else { %>
                    <form action="/like/<%= post.id %>" method="POST">
                      <span><%= post.likes %> Likes</span>
                      <button class="like-button" type="submit">Like</button>
                    </form>
                  <% } %>
                </div>
              </div>
              </div>
              <% if (user) { %>
                <!-- Include a Comment Button -->
                <button type="button" class="comment-button" data-target="comment-form-<%= post.id %>">Comment</button>
                
                <!-- Adjust the form to have a unique ID and be initially hidden -->
                <form id="comment-form-<%= post.id %>" class="new-comment-form" action="/comment" method="POST" style="display: none;">
                  <input type="hidden" name="post_id" value="<%= post.id %>">
                  <textarea name="content" placeholder="Comment" required></textarea>
                  <button type="submit">Post</button>
                </form>
              <% } %>
              <div class="post-comments">
                <% if(comments && comments.length > 0){ %>
                  <% comments.forEach(function(comment) { %>
                    <% if (comment.post_id === post.id) { %>
                      <div class="comment">
                        <div class="comment-header">
                          <% if (comment.user_id == 7) { %>
                            <a href="/profile/<%= authorList[comment.user_id] %>" style="color: gold">@<%= authorList[comment.user_id] %></a>
                          <% } else { %>
                            <a href="/profile/<%= authorList[comment.user_id] %>">@<%= authorList[comment.user_id] %></a>
                          <% } %>
                          <% if (user) { %>
                            <% if (user.userID == comment.user_id || user.role === 'ADMIN' || user.role === 'OWNER') { %>
                              <form action="/deleteComment" method="POST">
                                <button name="comment_id" value="<%= comment.id%>">X</button>
                              </form>
                            <% } %>
                          <% } %>
                        </div>
                        <div class="comment-content"><pre><%= comment.content %></pre></div>
                        <div class="comment-footer">
                          <span>Commented on <%= comment.created_at.toISOString().slice(0, 10) %></span>
                        </div>
                      </div>
                      <% } %>
                  <% }); %>
                <% } else { %>
                  <p>No comments to show.</p>
                <% } %>
              </div>
            </article>
          <% }); %>
        <% } else { %>
          <p>No posts to show.</p>
        <% } %>
      </section>
        
    </section>

    <ul id="messages"></ul>

    <form id="form" action="">
        <input id="input" autocomplete="off" />
        <button id="sendBTN">Send</button>
    </form>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/app.js"></script>
<script src="/js/header.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('.comment-button').forEach(button => {
      button.addEventListener('click', function() {
        const targetId = this.getAttribute('data-target');
        const form = document.getElementById(targetId);
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
      });
    });
  });
</script>
</html>