<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/post.css">
</head>

<body>
    <%- include('static/header') %>

    <section id="new-post-section">
        <% if (user) { %>
            <form id="new-post-form" action="/post" method="POST">
                <textarea name="content" placeholder="What's happening?" required></textarea>
                <input type="text" name="image_url" placeholder="Image URL (optional)">
                <button type="submit">Post</button>
            </form>
        <% } else { %>
            <h1 style="text-align: center;">Login/Register To Start Posting!</h1>
        <% } %>
    </section>

    <section id="posts-section">
        <% if(posts.length > 0){ %>
          <% posts.forEach(function(post) { %>
            <article class="post">
              <div class="post-header">
                <a>@<%= authorList[post.user_id] %></a>
                <% if (user) { %>
                  <% if (user.userID == post.user_id) { %>
                    <form action="/delete" method="POST">
                      <button name="post_id" value="<%= post.id%>">X</button>
                    </form>
                  <% } %>
                <% } %>
              </div>
              <div class="post-content"><%= post.content %></div>
              <% if(post.image_url){ %>
                <div class="post-image">
                  <img src="<%= post.image_url %>" alt="Post Image">
                </div>
              <% } %>
              <div class="post-footer">
                <span>Posted on <%= post.created_at.toISOString().slice(0, 10) %></span>
              </div>
              <% if (user) { %>
                <!-- Include a Comment Button -->
                <button type="button" class="comment-button" data-target="comment-form-<%= post.id %>">Comment</button>
                
                <!-- Adjust the form to have a unique ID and be initially hidden -->
                <form id="comment-form-<%= post.id %>" class="new-comment-form" action="/comment" method="POST" style="display: none;">
                  <input type="hidden" name="post_id" value="<%= post.id %>">
                  <textarea name="content" placeholder="Comment" required></textarea>
                  <button type="submit">Post</button>
                </form>
              <% } %>
              <div class="post-comments">
                <% if(comments && comments.length > 0){ %>
                  <% comments.forEach(function(comment) { %>
                    <% if (comment.post_id === post.id) { %>
                      <div class="comment">
                        <a>@<%= authorList[comment.user_id] %></a>
                        <div class="comment-content"><%= comment.content %></div>
                        <div class="comment-footer">
                          <span>Commented on <%= comment.created_at.toISOString().slice(0, 10) %></span>
                        </div>
                      </div>
                      <% } %>
                  <% }); %>
                <% } else { %>
                  <p>No comments to show.</p>
                <% } %>
              </div>
            </article>
          <% }); %>
        <% } else { %>
          <p>No posts to show.</p>
        <% } %>
      </section>
        
    </section>

    <ul id="messages"></ul>

    <form id="form" action="">
        <input id="input" autocomplete="off" /><button>Send</button>
    </form>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/app.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('.comment-button').forEach(button => {
      button.addEventListener('click', function() {
        const targetId = this.getAttribute('data-target');
        const form = document.getElementById(targetId);
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
      });
    });
  });
</script>
</html>